In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from wordcloud import WordCloud ,STOPWORDS
from PIL import Image

In [2]:
#pip install wordcloud

In [3]:
#pip install textblob

In [4]:
train = pd.read_csv('review_data_ids.csv')

In [5]:
train

,source,review,sentiment,prediction,id
0,mturk,Affinia Chicago is one of the worst hotels I h...,0.0,0.0,murk_n0
1,mturk,I recently stayed at the Affina Chicago hotel ...,0.0,0.0,murk_n1
2,mturk,I stayed at the Affina Chicago for my annivers...,0.0,0.0,murk_n2
3,mturk,If you are looking for a high end hotel on the...,0.0,0.0,murk_n3
4,mturk,I just returned from a long weekend in Chicago...,0.0,0.0,murk_n4
...,...,...,...,...,...
7562,trip_advisor,"My wife and I, living in the Chicago suburbs f...",NaN,NaN,ta_s1909
7563,trip_advisor,It was our first time in Chicago and we have n...,NaN,NaN,ta_s1910
7564,trip_advisor,We stayed here over Easter weekend and had a m...,NaN,NaN,ta_s1911
7565,trip_advisor,We went here for my wife's birthday. We origin...,NaN,NaN,ta_s1912
7566,trip_advisor,This hotel was pretty lovely. It's not over th...,NaN,NaN,ta_s1913

In [6]:
train.columns[train.isnull().any()]

Index(['sentiment', 'prediction'], dtype='object')

In [7]:
train[train['sentiment'].isnull()].shape

(5967, 5)

In [8]:
train[train['prediction'].isnull()].shape

(2614, 5)

In [9]:
train[train['sentiment'].isnull()].head()

,source,review,sentiment,prediction,id
1600,expedia,"Great staff all very good, Great location. Our...",NaN,1.0,ex0
1601,expedia,"Excellent hotel, great location, friendly staf...",NaN,1.0,ex1
1602,expedia,Gutes Hotel zu fairem Preis in der Stadtmitte ...,NaN,1.0,ex2
1603,expedia,My mom and I arrived early for check in and th...,NaN,1.0,ex3
1604,expedia,My sister and I loved this boutique hotel. It ...,NaN,1.0,ex4

In [10]:
train[(train['prediction'].isnull() & train['sentiment'].isnull())].shape

(1814, 5)

In [11]:
train.columns[train.isnull().any()]

Index(['sentiment', 'prediction'], dtype='object')

In [12]:
#train.loc[train['prediction']==1, 'label'] = 'Genuine'
#train.loc[train['prediction']==0, 'label'] = 'Fake'

In [13]:
train

,source,review,sentiment,prediction,id
0,mturk,Affinia Chicago is one of the worst hotels I h...,0.0,0.0,murk_n0
1,mturk,I recently stayed at the Affina Chicago hotel ...,0.0,0.0,murk_n1
2,mturk,I stayed at the Affina Chicago for my annivers...,0.0,0.0,murk_n2
3,mturk,If you are looking for a high end hotel on the...,0.0,0.0,murk_n3
4,mturk,I just returned from a long weekend in Chicago...,0.0,0.0,murk_n4
...,...,...,...,...,...
7562,trip_advisor,"My wife and I, living in the Chicago suburbs f...",NaN,NaN,ta_s1909
7563,trip_advisor,It was our first time in Chicago and we have n...,NaN,NaN,ta_s1910
7564,trip_advisor,We stayed here over Easter weekend and had a m...,NaN,NaN,ta_s1911
7565,trip_advisor,We went here for my wife's birthday. We origin...,NaN,NaN,ta_s1912
7566,trip_advisor,This hotel was pretty lovely. It's not over th...,NaN,NaN,ta_s1913

In [14]:
train.drop(columns=['source','sentiment','id'],inplace=True)

In [15]:
train=train.dropna()

In [16]:
train

                                                 review  prediction
0     Affinia Chicago is one of the worst hotels I h...         0.0
1     I recently stayed at the Affina Chicago hotel ...         0.0
2     I stayed at the Affina Chicago for my annivers...         0.0
3     If you are looking for a high end hotel on the...         0.0
4     I just returned from a long weekend in Chicago...         0.0
...                                                 ...         ...
5748  Muy amable el personal. Bien ubicado y suficie...         1.0
5749  Great stay all around. Brought a fender guitar...         1.0
5750  Decor is very dark and gloomy bordering on dep...         1.0
5751                  Excellent hotel and restaurant!!!         1.0
5752  The outside of the hotel looks nice and is cen...         1.0

[4953 rows x 2 columns]

In [17]:
df_x=train['review']
df_y=train['prediction']

In [18]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(df_x,df_y,test_size=0.3, random_state=9)
print(x_train.shape)
print(x_test.shape)

(3467,)
(1486,)

In [19]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf_vectorizer= TfidfVectorizer(min_df=1,stop_words='english')

In [20]:
tfidf_train = tfidf_vectorizer.fit_transform(x_train) 
X_test_counts=tfidf_vectorizer.transform(x_test)

In [21]:
tfidf_vectorizer.vocabulary_.get(u'algorithm')

In [22]:
from sklearn.naive_bayes import MultinomialNB
model=MultinomialNB()
model.fit(tfidf_train,y_train)
model.score(tfidf_train,y_train)

0.8520334583213153

In [23]:
from sklearn.metrics import accuracy_score
y_pred = model.predict(X_test_counts)
accuracy_score(y_pred,y_test)

0.8384925975773889

In [33]:
#from sklearn import metrics

In [34]:
#print("Accuracy:",metrics.accuracy_score(y_test, y_pred))
#print("Precision:",metrics.precision_score(y_test, y_pred))
#print("Recall:",metrics.recall_score(y_test, y_pred))

In [35]:
#from sklearn.metrics import  confusion_matrix
#y_actu = pd.Series(y_test, name='Actual')
#y_pred = pd.Series(y_pred, name='Predicted')
#confusionMatrix = confusion_matrix(y_actu, y_pred)
#print(confusionMatrix)

In [36]:
#for expected, predicted in zip(y_test, y_pred):
 #   if expected != predicted:
  #      print(expected, predicted)
   #     break

In [26]:
docs_new=['I recently stayed at the Affina Chicago hotel and was really']
X_new_counts=tfidf_vectorizer.transform(docs_new)
#X_new_tfidf=tfidf_transformer.fit_transform(X_new_counts)
predicted=model.predict(X_new_counts)
predicted[0]

1.0

In [38]:
import pickle

In [39]:
with open('tfid.pickle','wb') as f:
    pickle.dump(tfidf_vectorizer,f)

In [40]:
with open('model_fakenews.pickle','wb') as f:
    pickle.dump(model,f)

In [41]:
#model.score(tfidf_train,y_train)

In [42]:
#from sklearn.metrics import accuracy_score
#y_pred = model.predict(tfidf_test)
#accuracy_score(y_pred,y_test)