In [19]:
import numpy as np 
import pickle
import itertools
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.linear_model import PassiveAggressiveClassifier
from sklearn.metrics import accuracy_score, confusion_matrix

In [20]:
train = pd.read_csv('hotel.csv')

In [21]:
train

,Id,source,review,sentiment,prediction
0,1,mturk,Affinia Chicago is one of the worst hotels I h...,0.0,0
1,2,mturk,I recently stayed at the Affina Chicago hotel ...,0.0,0
2,3,mturk,I stayed at the Affina Chicago for my annivers...,0.0,0
3,4,mturk,If you are looking for a high end hotel on the...,0.0,0
4,5,mturk,I just returned from a long weekend in Chicago...,0.0,0
...,...,...,...,...,...
3545,39144,expedia,"Smaller room, 2star bath room. Bed leaned Nice...",NaN,1
3546,39144,expedia,The room was very quiet and nice. The staff we...,NaN,1
3547,39144,expedia,We thoroughly enjoyed the Monaco. This was the...,NaN,1
3548,39144,expedia,Enjoyed this hotel. I do think they need new m...,NaN,1
3549,39144,expedia,Overall the trip was wonderful! The staff at h...,NaN,1

In [22]:
train.drop(columns=['source','sentiment','Id'],inplace=True)

In [23]:
#train=train.dropna()

In [24]:
train

                                                 review  prediction
0     Affinia Chicago is one of the worst hotels I h...           0
1     I recently stayed at the Affina Chicago hotel ...           0
2     I stayed at the Affina Chicago for my annivers...           0
3     If you are looking for a high end hotel on the...           0
4     I just returned from a long weekend in Chicago...           0
...                                                 ...         ...
3545  Smaller room, 2star bath room. Bed leaned Nice...           1
3546  The room was very quiet and nice. The staff we...           1
3547  We thoroughly enjoyed the Monaco. This was the...           1
3548  Enjoyed this hotel. I do think they need new m...           1
3549  Overall the trip was wonderful! The staff at h...           1

[3550 rows x 2 columns]

In [25]:
df_x=train['review']
df_y=train['prediction']

In [26]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(df_x,df_y,test_size=0.3, random_state=9)
print(x_train.shape)
print(x_test.shape)

(2485,)
(1065,)

In [27]:
tfidf_vectorizer = TfidfVectorizer(stop_words='english', max_df=0.7)

In [28]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf_vectorizer= TfidfVectorizer(min_df=1,stop_words='english')

In [29]:
tfidf_train = tfidf_vectorizer.fit_transform(x_train) 
X_test_counts=tfidf_vectorizer.transform(x_test)

In [30]:
pac = PassiveAggressiveClassifier(max_iter=50)
pac.fit(tfidf_train,y_train)

PassiveAggressiveClassifier(max_iter=50)

In [31]:
pac.score(tfidf_train,y_train)

1.0

In [32]:


from sklearn.metrics import accuracy_score
y_pred = pac.predict(X_test_counts)
print(accuracy)

0.9624413145539906

In [ ]:
print)

In [ ]:
from sklearn.metrics import accuracy_score
y_pred = pac.predict(X_test_counts)
print(accuracy)

In [50]:
docs_new=['restraunt']
X_new_counts=tfidf_vectorizer.transform(docs_new)
tfidf_transformer = TfidfTransformer()
X_new_tfidf=tfidf_transformer.fit_transform(X_new_counts)
predicted=pac.predict(X_new_counts)
predicted[0]

1

In [16]:
with open('tfid.pickle','wb') as f:
    pickle.dump(tfidf_vectorizer,f)

In [17]:
with open('model_fakenews.pickle','wb') as f:w
    pickle.dump(pac,f)